*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label{
    display: table;
    padding: 10px;
}

input{
    padding: 5px;
}

img{
    width: 40%;
    margin-top: 5%;
}

img{
    height: 50%;
    text-align: center;
    /* margin-top: 30px; */
}
#cardtp{
    background-color: rgb(190, 183, 183);
    height: 50%;
}